#main {
	margin-top: 0px;
	width: 100%;
}
#main h1 {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 80px;
}
#setting {
	width: 500px;
	margin: 0px auto;
}

#setting p {
	margin-top: 20px;
}

#sign-out {
	margin-left: 10px;
}

.no_display {
	display: none;
}

.make_display {
	display: block;
}

.make_display_inline_block {
	display: inline-block;
}
