html {
	background-color: #ffffff;
}
#voting {
	width: 100%;
}
#voting h1 {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 80px;
}

#setting {
	width: 500px;
	margin: 0px auto;
}

#setting p {
	font-size: 14px;
	line-height: 2em;
}

#setting .button {
}

.changed_data {
	color: #222222;
	font-weight: bold;
}

#new_name {
	width: 300px;
}

#change_name {
	margin-top: 20px;
}

#choices {
	width: 500px;
	margin: 0px auto;
	margin-top: 20px;
}

#sign-out {
	margin-left: 10px;
}
