<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
	<link rel="stylesheet" href="/css/voting.css">
</head>
<body>
	<div id="voting">
		<h1 class="title is-2">{{title}}</h1>

		<div id="setting">
			<p>
				{{about_setting}}
				<!-- #不匿名 #需登入 #複選 -->
			</p>
			<p>
				使用者名稱為 &nbsp;&nbsp;&nbsp; <span class="changed_data">{{display_name}}</span> 
				<template v-if="changing_name">
					<p id="change_name" class="control is-grouped">
						<input v-model="typing_name" class="input" type="text" placeholder="輸入新名稱">
						<a class="button is-info" v-on:click="change_name">
							確認
						</a>
						<a class="button is-danger" v-on:click="switch_changing">
							取消
						</a>
					</p>
				</template>
				<template v-else>
					<a class="button is-info is-small" v-on:click="switch_changing">修改</a>
				</template>
			</p>
		</div>

		<div id="choices">
			<table class="table">
				<thead>
					<tr>
						<th>選項</th>
						<th>票數</th>
					</tr>
				</thead>
				<tbody v-for="choice in choices">
					<tr>
						<th>
							<label class="checkbox">
								<input type="checkbox" v-on:click="select(choice.name, $event)" value={{choice.name}} name="choice" v-model="selected">
								{{choice.name}}
							</label>
						</th>
						<th>{{choice.voters.length}}</th>
					</tr>
				</tbody>
			</table>
		</div>
		<span>{{selected | json}}</span>
	</div>

	<script type="text/javascript" src="/js/voting.bundle.js"></script>
</body>
</html>
