<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="宇宙公投，一個線上投票工具">
	<meta property="og:title" content="宇宙公投">
	<meta property="og:description" content="宇宙公投，一個線上投票工具">

	<title>宇宙公投</title>
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://npmcdn.com/bulma@0.0.4/css/bulma.min.css">
	<link rel="stylesheet" href="/css/voting.css">
	<link rel="stylesheet" href="/css/header.css">
</head>
<body>
	<div id="voting">

		<my-header :is_login="is_login" :username="fb_name"></my-header>

		<h1 class="title is-2">{{title}}</h1>

		<div id="setting">

			<div v-if="show_warning" v-bind:class="{'make_display': show_warning}" class="no_display notification is-danger">
				本投票需要登入後才可觀看與投票
			</div>

			<p>
				{{about_setting}}
			</p>
			<p v-if="need_name">
				使用者名稱為 &nbsp;&nbsp;&nbsp; <span class="changed_data">{{display_name}}</span> 
				<template v-if="!need_login">
					<template v-if="show_input">
						<p class="control is-grouped">
							<input v-el:name_input v-model="typing_name" v-on:keyup.enter="change_name" class="input" type="text" placeholder="輸入新名稱">
							<a class="button is-info" v-on:click="change_name">
								確認
							</a>
							<a class="button is-danger" v-on:click="turn_off_changing">
								取消
							</a>
						</p>
					</template>
					<template v-else>
						<a class="button is-info is-small" v-on:click="turn_on_changing">修改</a>
					</template>
				</template>
			</p>
		</div>

		<div id="choices">
			<table class="table">
				<thead>
					<tr>
						<th>選項</th>
						<th>票數</th>
						<th v-if="need_name">投票者</th>
					</tr>
				</thead>
				<tbody v-for="choice in choices">
					<tr>
						<th>
							<label class="checkbox">
								<input type="checkbox" v-on:click="select(choice.name, $event)" value={{choice.name}} name="choice" v-model="selected">
								{{choice.name}}
							</label>
						</th>
						<th>{{choice.voters.length}}</th>
						<th v-if="need_name">{{choice.voters}}</th>
					</tr>
				</tbody>
			</table>
		</div>
		<span>{{selected | json}}</span>
	</div>

	<script type="text/javascript" src="/js/voting.bundle.js"></script>
</body>
</html>
